<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>来一腿_美腿照片</title>
<link media="all" rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
<link media="all" rel="stylesheet" href="assets/css/bootstrap-responsive.min.css" type="text/css" />
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">首页</a></li>
      <li><a href="#">最新的腿</a></li>
      <li><a href="#">最热的腿</a></li>
      <li><a href="#">上传美腿</a></li>
      <li><a href="#">登录/注册</a></li>
    </ul>
    <h3 class="muted">来一腿</h3>
  </div>

	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#">最新的腿</a>
		</li>
		<li>
			<a href="#">最热的腿</a>
		</li>
		<li>
			<a href="#">最争议的腿</a>
		</li>
	</ul>

  <div class="footer">
    <p>&copy; 2013 <a href="http://laiyitui.com/">来一腿</a>. 保留所有权利.</a></p>
  </div>
</div>
</body>
</html>
