<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>用户登录_来一腿</title>
{% include 'block/assets.html' %}
</head>
<body>
<div class="container">
  {% include 'block/header.html' %}

  <div class="row">
    <div class="span6 offset3">
      <form class="form-horizontal" action='' method="POST">
        <fieldset>
          <div id="legend">
            <legend>用户登录</legend>
          </div>
          <div class="control-group">
            <label class="control-label" for="username">用户名</label>
            <div class="controls">
              <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
            </div>
          </div>
       
          <div class="control-group">
            <label class="control-label" for="password">密码</label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
            </div>
          </div>
       
          <div class="control-group">
            <div class="controls">
              <input type="submit" name="submit" class="btn btn-success" value="登录" />
            </div>
          </div>
        </fieldset>
      </form>
     </div>
    </div>

  {% include 'block/footer.html' %}
  <script type="text/javascript">
    $(function() {
        $('#username').focus();
    });
  </script>
</div>
</body>
</html>
