<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>上传图片_来一腿</title>
{% include 'block/assets.html' %}
</head>
<body>
<div class="container">
  {% include 'block/header.html' %}

  <div class="row">
    <div class="span6 offset3">
      <div class="nav nav-tabs">
        <li class="active"><a href="#">粘贴图片网址</a></li>
        <li><a href="#">从本地上传</a></li>
      </div>
      <form method="POST" action="">
        <div class="input-append">
          <input type="text" class="span5" name="url" />
          <input type="submit" class="btn" name="submit" value=" 抓取图片 " />
        </div>
      </form>
    </div>
  </div>

  {% include 'block/footer.html' %}
</div>
<script type="text/javascript">
  $(function() {
      $('input[name="url"]').focus();
  });
</script>
</body>
</html>
